html,body{
      height:100vh;
      width:100%;
      background: linear-gradient(to bottom, #3b3d3a -30%, #181818 100%);
      color:white;
      font-family:'Monsterrat',sans-serif;
    }
    
 .w3-bar-item{
    border-bottom: 1px solid pink;
    }
    
.headerstyling,.headerstyling:hover{
background-color:#7D1E80;
padding:0;
margin:0;
padding-bottom:-60px;
}

.menumargin{
    margin-left:5%;
    }
    